/application
/db.ini
/admin
/archive
/install
/nbproject
.htaccess
/admin/.htaccess
/archive
/verhaal
/pathsTom.php
/_notes/
/Capfile
!/application/helpers/LinkFunctions.php
!/admin/
!/application/
/config/